.quiz-container {
    color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:darkslategray;
    } 
.titre{
    text-align: center;
    font-size: 50px;
}  

label {
    display: block;
    margin-bottom: 10px;
}
.bouton{
    margin: 10px;
    height: 30px;
    width: 80px;
    display: none;
} 
.bouton1{
    margin-left: 380px;
    height: 50px;
    width: 120px;
    font-weight:bold;
    font-size: large;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.resultat{
    background-color: white;
    color: red;
    height: 40px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    display: none;
    
}
.timer{
    margin-left: 50px;
}
.start{
    background-color: rgb(6, 179, 20);
    color: white;
    height: 40px;
    font-weight: bold;
    width: 150px;
    border: none;
    align-content: center;
    margin-left: 230px;
}